@model Medalha

<div class="form-group">
    <label asp-for="Peso"></label>
    <input asp-for="Peso" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Quantidade"></label>
    <input asp-for="Quantidade" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Categoria"></label>
    <input asp-for="Categoria" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Corrida"></label>
    <input asp-for="Corrida" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Categoria"></label>
    <select asp-for="Categoria" class="form-control"
            asp-items="@Html.GetEnumSelectList<Categoria>()">
        <option>Selecione</option>
    </select>
</div>